.post {
    border: 2px dashed blue; 
    margin: 10px;
    padding: 3px;
}

body {
    background: url("/static/img/COVID-19_Background.jpg") no-repeat;
    background-size: 100%;
    color: rgb(247, 245, 245);
}