<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19</title>
    <link rel='stylesheet' href="/static/style.css">
</head>

<body>

</body>


<body>
<div class='container'>

    <div class='row'>
        <div class="col-4 offset-2">
            <h1>Информация о Covid-19 по стране</h1>
            <form method="POST" action="/">
                <input required name="country" type="text">
                <br>
                <br>
                <button type="submit">Отправить!</button>
            </form>
        </div>
        <div class="col-4 offset-2">
            <h1>инфа</h1>
            <div class="alert-danger"></div>
            <h2>Страна</h2> {{ country }}<br>
            <b>confirmed:</b> {{ info_country.confirmed }}<br>
            <b>recovered:</b> {{ info_country.recovered }}<br>
            <b>deaths:</b> {{ info_country.deaths }}<br>
            <b>Updated:</b> {{ info_country.last_updated }}<br>
        </div>
    </div>
</div>
</body>

</html>
